{% extends 'base.html' %}
{% block content %}
<h2></h2>
<form id="my_form" method="post" novalidate>
  <div class="form-row align-items-center">
    {{form.media}} 
  <strong>  {{form.as_p}}</strong>
    {% csrf_token %}
    <button type="submit" name="save" value="submit" class="btn btn-primary">POST</button>
    <br>
    <button type="submit" name="download" value="submit" class="btn btn-primary">Generate PDF</button>
    </div>

</form>
{% if form.errors %}
<div class="alert alert-danger my-5">
{{form.errors.title.as_text}}
</div>
<a href="{% url '/' %}" class="btn btn-secondary">Cancel</a>
{% endif %}
{% endblock %}
