{% extends 'base.html' %}
{% block content %}
<h1><b>WELCOME TO ANT BLOGS</b></h1>
<h2>{{today}}</h2>
<hr>
<div class="container">
        <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:green;">
            {% for category in categories %}
            <ul>
            {% if category.parent_id == NULL %} 
            <li><h3> <a href="{% url 'blog.list' category.id %}" class="text-dark text-decoration-none">{{category.category_name}}</a></h3></li>
            {% for cat in categories %}
            {% if cat.parent_id == category.id %}
            <ul><li> <h5><a href="{% url 'blog.list' cat.id  %}" class="text-dark text-decoration-none">{{cat.category_name}}</a></h5></li></ul>
            {% endif %}
            {% endfor %}
            {% endif %}
          </ul>
            <hr>
            {% endfor %}
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12" style="background:light;" >
            <img src="\static\images\Is-blogging-relevant-anymore.webp" width="700" height="500">
          </div>
        </div>
      </div>  
{% endblock%}