{% extends 'base.html' %}
{% block content %}
<h1><b>WELCOME TO ANT BLOGS</b></h1>
<h2>{{today}}</h2>
<hr>
<div class="container">
        <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:green;">
            {% for category in categories %}
            <ul>
            <a href="{% url 'blog.list' category.id %}" class="text-dark text-decoration-non">
            {% if cat.parent_id == "" %} 
            <h3><li>{{category.category_name}}</li></h3>
            {% endif %}
            {% for cat in categories %}
            {% if cat.parent_id == category.id %}
              <ul><li>{{cat.category_name}}</li></ul>
            {% else %}
            {% endif %} 
            {% endfor %}
          </a>
            </ul>
            <hr>
            {% endfor %}
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12" style="background:light;" >
            <img src="\static\images\Is-blogging-relevant-anymore.webp" width="700" height="500">
          </div>
        </div>
      </div>  
{% endblock%}



