{% load static %}
<html>
    <head>   
         
        <link rel='stylesheet' 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <title>ANT BLOGS
        {% block title %}
        {% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="ms-auto">
                <a href="#" class="btn btn-light me-1">Home</a>
                <a href="#" class="btn btn-light me-1">Create a blog</a>
                <a href="#" class="btn btn-light me-1">Signup</a>
                <a href="#" class="btn btn-light me-1">Login</a>
                <a href="#" class="btn btn-light me-1">Logout</a>
            </div>
        </nav>
        <div class="my-5 text-center container">
        {% block content %}
        {% endblock %}
        </div>
    </body>
    </html>
